@import '../../../commonStyles.scss';
.main {
  width: 100%;
  height: 100%;
  background-color: $textColor;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.main__closeCross {
  position: absolute;
  top: 4vh;
  right: 1.3vw;
  display: flex;
  justify-content: center;
}

.main__cross {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  transition: $transition;
  &:hover {
    opacity: 0.8;
  }
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: $backgroundColor;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.3s ease-in-out;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 1100px) {
  .main__closeCross {
    position: absolute;
    top: 2.2vh;
    right: 1.1vw;
    display: flex;
    justify-content: center;
  }
  .main__cross {
    width: 22px;
    height: 22px;
    &::before,
    &::after {
      width: 22px;
      height: 4px;
    }
  }
}

@media (max-width: 950px) {
  .main__closeCross {
    position: absolute;
    top: 2.2vh;
    right: 1.1vw;
    display: flex;
    justify-content: center;
  }
  .main__cross {
    width: 19px;
    height: 19px;
    &::before,
    &::after {
      width: 19px;
      height: 3px;
    }
  }
}
@media (max-width: 800px) {
  .main__closeCross {
    top: 1.6vh;
    right: 0.8vw;
  }

  $crossSize800px: 17px;

  .main__cross {
    width: $crossSize800px;
    height: $crossSize800px;
    &::before,
    &::after {
      width: $crossSize800px;
      height: 3px;
    }
  }
}

$crossSize650px: 12px;

@media (max-width: 650px) {
  .main__closeCross {
    top: 1.1vh;
    right: 0.4vw;
  }
  .main__cross {
    width: $crossSize650px;
    height: $crossSize650px;
    &::before,
    &::after {
      width: $crossSize650px;
      height: 2px;
    }
  }
}
