@import '../commonStyles.scss';
.header {
  width: 100%;
  height: 100px;
  background-color: $backgroundColor;
  position: fixed;
  top: 0;
  z-index: 900;
}

.header__headerContainer {
  width: $width;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1300px) {
  .header__headerContainer {
    width: $widthMedia1300;
  }
}

@media (max-width: 950px) {
  .header__headerContainer {
    width: $widthMedia950;
  }
}

@media (max-width: 530px) {
  .header__headerContainer {
    width: $widthMedia530;
  }
  .header__logo {
    display: none;
  }
}

.header__logo {
  text-decoration: none;
  color: $textColor;
  font-size: 20px;
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
    color: $textColor;
  }
}
