@import '../commonStyles.scss';
.header {
  width: 100%;
  height: 100px;
  background-color: $backgroundColor;
  position: fixed;
  top: 0;
  z-index: 900;
}

.header__headerContainer {
  width: $width;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__linksContainer {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1300px) {
  .header__headerContainer {
    width: $widthMedia1300;
  }
  .header__linksContainer {
    width: 40%;
  }
}

@media (max-width: 950px) {
  .header__headerContainer {
    width: $widthMedia950;
  }
  .header__linksContainer {
    width: 60%;
  }
  .header__link, .header__linkActive {
    font-size: 18px !important;
    &:focus,
    &:visited,
    &:active {
      font-size: 18px;
    }
  }
}

@media (max-width: 530px) {
  .header__headerContainer {
    width: $widthMedia530;
  }
  .header__logo {
    display: none;
  }
  .header__linksContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__link,
  .header__linkActive {
    margin: 0;
    font-size: 15px !important;
    &:focus,
    &:visited,
    &:active {
      font-size: 15px;
    }
  }
}

.header__link {
  text-decoration: none;
  color: $textColor;
  font-size: 20px;
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
    color: $textColor;
  }
}

.header__linkActive {
  text-decoration: none;
  color: $activeLinkColor;
  font-size: 20px;
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
    color: $activeLinkColor;
  }
}

.header__logo {
  text-decoration: none;
  color: $textColor;
  font-size: 20px;
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
    color: $textColor;
  }
}
