@import '../commonStyles.scss';

.slider__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider__image {
  max-width: 95%;
  max-height: 100vh;
  vertical-align: top;
}

@media (max-width: 1400px) {
  
.slider__image {
  max-width: 80%;
}
}

// @media (max-width: 700px) {
//   .slider__image {
//     width: 75%;
//   }
// }
// @media (max-width: 470px) {
//   .slider__container {
//     width: 85%;
//   }
// }
