$backgroundColor: rgb(65, 65, 65);
$textColor: rgb(240, 240, 240);
$width: 1280px;
$transition: all 0.3s linear;
$activeLinkColor: rgb(151, 170, 182);

$widthMedia1300: 900px;
$widthMedia950: 520px;
$widthMedia530: 300px;
